<!DOCTYPE html>
<html>
<head>
    <title>Twitter Hashtag Pull</title>
    
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    
    {{{body}}}
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/services.js" charset="utf-8"></script>
    <script src="js/utils.js" charset="utf-8"></script>
</body>
</html>